pip
setuptools
wheel
flask
praw
textblob
nltk
numpy
thinc
transformers
torch==2.0.1+cu117  # Ensure CUDA 11.7 compatible version of PyTorch is installed
datasets
accelerate
elasticsearch==8.9.0
python-dotenv
hf_transfer
scikit-learn
tensorboard